.custom-background {
    background-color: #18e2a5e0; 
    color: white;
    height: 250px;
    padding-top: 5px;
  }

  .text-align{
    font-size: 35px;
    padding: 30px;
    font-family: Arial, sans-serif;
    /* font-weight: bold; */
  }

  .custom-label {
    color: black;
    padding: 5px;
}